<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi guys, here are some quick info about me. I am super cool person, easy going and love to work with team. Most of the time, I like to lead a team and share my knowledge with others.</p>

    <p>
        I kinda have a good communication skills and good looking ~Ha ha~. This skill help me to mingle with people easily and bring the best out of them. Always excited to learn new things and meet cool people. 
    </p>

    <p>
        Elavating my self and people around me is one of my primary goal in my career. I aim to be a CTO for a big corporate company or be a founder of awesome company. I promise, you will never regret to know me. Contact me via Facebook, LinkedIn or Email for a coffee
    </p>

    Do check out my site <a href="https://burhan3759.com/">burhan3759.com</a>

</div><!--//summary-->
</section><!--//section-->
