<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Have been develop my skills alot, and still eager to meet more awesome people. You can <a href="https://drive.google.com/uc?export=download&id=0B8YgG3Piiq99SmNnN1ZTRmswcDA" target="_blank"><b>download my resume here</b></a>. Have a good experience in working, can view <b>my experiences</b> below and love to work with a <b>team</b>. Willing to share knowledge that I've learnt. Currently active in <strong><a href="https://laravel.com" target="_blank">Laravel</a> and looking my way to stick my nose back into <a href="https://facebook.github.io/react-native/" target="_blank">React Native</a> and <a href="https://getexponent.com/" target="_blank">Expo</a></strong>.</p>
</div><!--//summary-->
</section><!--//section-->
