<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p> I am an awesome person, my aim is to open a code school, Teaching codes and how to be good human. Easy going and professional when it comes to work. Love to lead and very keen on elevate people to next level. I have a good communication skills and eager to meet more awesome people. You can <a href="https://drive.google.com/uc?export=download&id=1ki4_PJJMf2InAqpz9C8mTLbEStgPVqad" target="_blank">download my resume <b>here</b></a>. I have a decent working experience and love to work with a <b>team</b>. Always share the knowledge that I've learnt. Looking forward to lead more people in future. Besides all of this, I am good programmer as well</p>

    I have a personal website, to know more about me please visit it <a href="https://burhan3759.com/">My Website</a>

</div><!--//summary-->
</section><!--//section-->
