<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">March 2017 - current</div>
                        </div><!--//upper-row-->
                        <div class="company">Innoractive Sdn Bhd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop a software. Every project is a team based project, so I am a good team player. Learn a lot of new stuff and currently active in Laravel and React JS and React Native. I handle few of the core things which is <b>System Acrchitect, Translate Business Requirments into Functional Design, Meet Client, Conduct UAT, and few more other things</b>. Involved with big projects</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Developer (Intern)</h3>
                            <div class="time">Sep 2016 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Alpaca Software Resources</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assigned to develop a mobile and web app as a team based project. Built one of the main components of the project, the Questionnaire part. I’ve improved my coding, able to work under stress in a team and enhanced my problem solving skills.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tutor/Teacher</h3>
                            <div class="time">AUG 2014 – JAN 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Kemahiran Progresif</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching IT to students of ages.  Subjects covered include Microsoft Word, Excel, PowerPoint, Access, PC Maintenance and Assembly and Basic Networking. Improved my teaching/mentorship skills and learned to communicate more effectively</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer (Intern)</h3>
                            <div class="time">Jan 2014 - Mar 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amanie Nexus</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Introduced to JOOMLA, assigned to maintain a Website and learn about JOOMLA. Created a Leave Application system using Google Forms and Sheets.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Call Agent</h3>
                            <div class="time">Mar 2012 - Mar 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">SCICOM(MSC) BHD</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Call agent for McDonalds Call Center. Take and place an order for customers. I gained communication and problem solving skills, and was able to handle the pressure.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
