<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Futsal & Football</li>
<li>Meet People</li>
<li>Climbing</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<h2 class="container-block-title">Resume</h2>
<ul class="list-unstyled interests-list">
<a href="https://drive.google.com/uc?export=download&id=0B8YgG3Piiq99SmNnN1ZTRmswcDA"><li >Download<i class="fa fa-download" style="
    padding-left: 8px;"></i></li></a>
</ul>
</div><!--//interests-->