<section class="section projects-section">
    
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>List of my projects is below</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Prihatin & MyWorkforce Mobile App</a></span> - <span class="project-tagline">Mobile app for people and in house. People who contribute can view and make the self-contribution via the mobile app
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">IPK KL</a></span> - <span class="project-tagline">A data management Web app      
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">WCSC</a></span> - 
                    <span class="project-tagline">WCSC yearly event. List down the events agenda, speakers and few other things. It is a Mobile app</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ePELANCAR</a></span> - <span class="project-tagline">For ANGKASA, the publish their Magazine monthly and have a news posting. It is a mobile app</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">MMHE</a></span> - <span class="project-tagline">View reports, and update list at offshore. It is a Mobile app</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Claimfairy</a></span> - <span class="project-tagline">In house project for company, it is a claim system. It is a Web app</span>
                </div><!--//item-->
            </section><!--//section-->
