<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>List of my projects and for more details please visit <a href="burhan3759.guthub.io/portfolio">my portfolio</a>.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Report Racism MY</a></span> - <span class="project-tagline">An App to report racism in Malaysia.      
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Cendral Currency Converter</a></span> - 
                    <span class="project-tagline"> Display the current exchange rate and includes currency exchange features.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Paradise Mystery Shopper</a></span> - <span class="project-tagline">A Food Survey App for Paradise Restaurants all around Malaysia</span>
                </div><!--//item-->
            </section><!--//section-->
