<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                  <div class="item">
                        <h3 class="level-title">Laravel</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="76%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">React Native &amp; React JS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; Node js</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="71%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Angular &amp; Ionic</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Api &amp; Api Documentation </h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="64%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                 
                    <div class="item">
                        <h3 class="level-title">Project Documentation</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Willingness to learn</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
